/*Fridge for All Style Sheet 2*/

/*Interaction States*/

/*
#nav1:hover{
    text-shadow: 0px 4px 12px #2aca0a;
    transition: 0.2s;
}
*/
/*
#hQuote{
    cursor:pointer;
}
#hQuote:hover{
    text-shadow: 0px 4px 12px #0a8dca;
    transition: 0.2s;
}
*/

/*Breakpoint: Mobile*/
@media all and (max-width: 500px){
    
}

