/*Fridge for All Style Sheet 2*/

/*maybe for java, since it doesn't recognize vw/h, but not useful yet*/
#screenCheck{
    width: 1vw;
    height: 1vh;
}

#dropdownContent{
    display: none;
    position: absolute;
    padding-left: 10px;
    z-index: 1;

    background-color: #f9f9f9;
    border-radius: 15px;
    height: 40px;
    min-width: 150px;
    box-shadow: 0px 4px 8px 0px rgba(40, 209, 68, 0.459);
}

#mapAddress{
    margin-top: 10px;
}

.allMapPins:hover{
    transform: scaleX(1.2);/*only 1 transform works at once*/
    transform: translate(0px -10px); 
    transition: 0.2s;
}

/*change to number to see which pin this is*/ /*
#mapPin2:hover { 
    background-color: blue;
}*/


/*

/*Breakpoint: Mobile*/
@media all and (max-width: 1000px){

    /*Who We Are & What We Do Section___________________*/

    #button{
        width: 50vw;

        margin-top: 0px;
        margin-bottom: 250px;
        margin-left: 180px;
    }

    #whoLeft{
        text-align: left;
        padding-left: 12%;
        padding-right: 12%;
        width: 100%;
        margin-bottom: 10%;
    }

    #whoRight{
        float:left;
        margin-left:20vw;
        margin-top: -170px;
    }

    /*Need Help? Fruit Basket___________________________________*/

    #help{
        text-align: left;
        padding-left: 12%;
        padding-right: 12%;
        width: 100%;
        
        /*border-style: solid; /*to see what we're talking about*/
    }
    #help h2{
        margin-top:300px;
        text-align: center;
        margin-left: 0px;
        padding-top: 100px;
    }
    #basket{
        margin-top: 0%;
        margin-left: 150px;
        width: 45%;
    }
    
    /*Map_______________________________________________________*/
    #location{
        float: none;
        text-align: left;
        margin-top: 60px;
        margin-left: 0px;
        padding-left: 12%;
        padding-right: 12%;
        width: 100%;
    }
    
    

    #dropdownContent{
        margin-left: -42vw;
        margin-top: 366px;
    }

    
    /*Footer_____________________________________________________*/
    footer{
        height: 45vh; /*not currently working*/
    }
    
    #footLogo{
        padding-top: 50px;
        margin-right: -400px;
    }

    #footSocial{
        float: left;
        margin-left: 130px;
        margin-right: 0vw;
        margin-top: -30px;
    }
    
    
}

