/*Fridge for All Style Sheet*/


h1{
    color:black;
    font-family: "Expletus Sans","Arima Madurai","Spectral","Georgia",sans-serif;
    font-size: 24px;
}
pre{
    color:black;
    font-family: "Expletus Sans","Arima Madurai","Spectral","Georgia",sans-serif;
    font-size: 20px;
}
p{
    color:black;
    font-family: "Kanit","K2D","Epilogue","Cambria",sans-serif;
    font-size: 14px;
}

ul{
    list-style: none;
    display: flex;
}
li{
    color:black;
    font-family: "Expletus Sans","Arima Madurai","Spectral","Georgia",sans-serif;
    font-size: 16px;
}

*{
    box-sizing: border-box;
}/* ^^W3 says helps layout: includes padding and borders in element sizes for gridding*/

header{
    background-color: #FAD5AB;
}

#heroBanner{
    background-image:url("../images/Header.png");
}
#heroWelcomeNeighbor{

}
#heroTakeLeave{

}

.cardStat{

}

.allMapPins{

}
#mapPin1{

}
#mapPin2{

}
#mapPin3{

}
#mapPin4{

}
#mapPin5{

}

footer{
    background-color: #FAD5AB;
}

/*Style Tyle universal styling ^^^^^^^^^^^^*/

/*
#bodyDisplay{
    background-color: #1B1B29;

    display: grid;
    grid-template-rows:     5vh         15vh            70vh        10vh    ;
    grid-template-areas:    "topNav"    "bannerQuote"   "bodyMain"  "botNav";
}
*/
/*
#nav1:hover{
    text-shadow: 0px 4px 12px #2aca0a;
    transition: 0.2s;
}
*/
/*
#hQuote{
    cursor:pointer;
}
#hQuote:hover{
    text-shadow: 0px 4px 12px #0a8dca;
    transition: 0.2s;
}
*/

/*Mobile*/
@media all and (max-width: 500px){
    
}