/*Fridge for All Style Sheet*/


h1{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 50px;
}
h2{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 40px;
}
h3{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 30px;
}
h4{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 20px;
}
h5{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 18px;
}
pre{
    margin-top: -3%;
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 42px;
    font-weight: bold;
}
p{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 20px;
}

ul{
    list-style: none;
    display: flex;
}
li{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 16px;
    padding-left: 2vw;
    padding-right: 2vw;
}

a:link{
    color:black ;
    text-decoration: none;
}
a:visited{
    color:black ;
    text-decoration: none;
}
a:hover{
    color:green ;
    text-decoration: underline;
}
a:active{
    color:black ;
    text-decoration: none;
}

*{
    box-sizing: border-box;
}/* ^^W3 says helps layout: includes padding and borders in element sizes for gridding*/

/*The Header: logo, title, and navigation_______________*/
header{
    background-color: #FAD5AB;
    height: 12vh;

    display: grid;
    grid-template-columns:  8vw         25vw        33vw        33vw;
    grid-template-areas:    "headerLogo headerTitle headerGap   headerNav";
}
#headerLogo{
    padding-top: 5%;
    margin-left: auto;
    width: 60%;

    display: grid;
    grid-area: headerLogo;
}
#headerTitle{
    padding-top: 1%;
    margin-left: 5%;
    display: grid;
    grid-area: headerTitle;
}
#headerGap{/*used only for spacing*/
    display: grid;
    grid-area: headerGap;
}
#headerNav{
    display: grid;
    grid-area: headerNav;
}

#heroBanner{
    background-image:url("../images/Header.png");
    background-size: cover;
    height: 35vh;
    width: 100%;
    text-align: center;
    padding-top: 3%;
}
/*#heroWelcomeNeighbor{

}
#heroTakeLeave{

}/*

/*Who We Are    underneath the hero banner_____________________*/
#whoWeAre{
    padding-bottom: 5%;
    /*display: grid;
    grid-template-areas:    "whoTitle   whoTitle"
                            "whoLeft    WhoRight";*/
}
#who{
    text-align: center;
    margin-top: 5%;
    width: 100%;
}
.sectionTitle{
    text-align: center;
    padding-top: 3%;
    /*display:grid;
    grid-area: whoTitle;*/
    
}
#whoLeft{
    text-align: left;
    padding-left: 25%;
    width: 50%;
}
#whoRight{
    scale: -10%;
    float: right;
    margin-top: -26%;
    padding-right: 25%;
    margin-left: 75vw;
    width: 45%;
    /*grid-area: whoRight;*/

    display: grid;
    grid-template-areas:    "whoCard1 whoCard2"
                            "whoCard3 whoCard4";
}
#button{
    /**/
}

.CTA{/*button styling*/
    border-style: solid;
    background-color: #FAD5AB;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

    margin-left: 7vw;
    margin-top: 18%;
    padding-top: 5px;
}

/*Tile/Card Styling_____________________________________________*/
.tileStat{
    text-align: center;
    display: flex;
}

.tilePic{
    width: 210px;
    padding: 10px;
}

.statText{
    margin-top: -20%;
}

#whoCard1{
    display: grid;
    grid-area: whoCard1;
}
#whoCard2{
    display: grid;
    grid-area: whoCard2;
}
#whoCard3{
    display: grid;
    grid-area: whoCard3;
}
#whoCard4{
    display: grid;
    grid-area: whoCard4;
}

#help{
    margin-top: 8%;
    text-align: left;
    padding-left: 25%;
    width: 50%;
}

#basket{
    margin-top: -80%;
    margin-left: 33.5vw;
    width: 45%;
}
/*Map styling_____________________________________________________*/
#map{
    margin-top: 5%;
    padding-left: 18%;
    padding-bottom: 5%;
    padding-right: 20px;
}

.allMapPins{
    position: absolute;
}
#mapPin1{
    margin-left: -26%;
}
#mapPin2{
    margin-left: -15%;
    margin-top: 1%;
}
#mapPin3{
    margin-left: -22%;
    margin-top: 4%;
}
#mapPin4{
    margin-left: -13%;
    margin-top: 10%;
}
#mapPin5{
    margin-left: -30%;
    margin-top: 11%;
}

#location{
    float: right;
    text-align: left;
    margin-top: -21%;
    margin-right: 20vw;
    width: 30%;
}

#button2{/*button styling*/
    border-style: solid;
    background-color: #FAD5AB;
    height: 40px;
    width: 150px;
    margin-left: 7vw;
    border-radius: 10px;
    text-align: center;
    margin-top: 18%;
    cursor: pointer;
}

#CTA2{
    margin-top: 4%;
    cursor: pointer;
}

/*page 2 new declrations
didn't move others around, so that you could find them still,
in case you're familiar with their order on this page.*/
#whatStock{
    /**/
}
#whatTitle{
    /**/
}
#whatLeft{
    /**/
}
#whatRight{
    /**/
}

.dropdown{
    /**/
}

#whatCard1{
    /**/
}
#whatCard2{
    /**/
}
#whatCard3{
    /**/
}
#whatCard4{
    /**/
}

<<<<<<< HEAD
#hereToHelp{
    
}

.hereHelp{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

#hereText{
    text-align: left;
    margin: auto;
    width: 45%;
}

#mapContent {
    margin-top: 3%;
    padding-left: 18%;
    padding-bottom: 5%;
    padding-right: 20px;
}

#findFridge{
    margin-top: 3%;
    padding-left: 18%;
    width: 45%;
}
li{
    text-align: left;
    list-style-type: circle;
    width: 25%;
}

#addresses{
    
}







=======
.inputField{
    /**/
}


/*page 3/new declrations
didn't move others around, so that you could find them still,
in case you're familiar with their order on this page.*/
#donorPic{
    /**/
}

#directions{
    /**/
}
.cardStep{
    /**/
}
.cardTitle{
    /**/
}
.cardText{
    /**/
}

/*the repetitive nature of some of these IDs makes me wonder
can we generalize the name so it'd be less confusing to apply
the same spacing to comparable sections on each page?
e.g., sectionHeader below, but used in place of other IDs, too,
if they don't each need micro-spacing*/
#lowStock{
    /**/
}
#lowLeft{
    /**/
}
#lowRight{
    /**/
}

.sectionHeader{
    /**/
}
.sectionText{
    /**/
}

/*footer styling____________________________________________________*/
>>>>>>> 030f792210b6fc26575bb80ed556b340653a7cf2
footer{
    background-color: #FAD5AB;
    text-align: center;
    height: 25vh;
}
#footLogo{
    padding: 30px;
}

#footAddress{
    text-align: left;
    position: absolute;
    margin-left: 15%;
}

#footSocial{
    float: right;
    margin-right: 15vw;
    margin-top: -11.5%;
}

#footFace{
    padding-right: 30px;
    cursor: pointer;
}

#footIn{
    padding-right: 30px;
    cursor: pointer;
}

<<<<<<< HEAD






/*Style Tyle universal styling ^^^^^^^^^^^^*/

/*
#bodyDisplay{
    background-color: #1B1B29;

    display: grid;
    grid-template-rows:     5vh         15vh            70vh        10vh    ;
    grid-template-areas:    "topNav"    "bannerQuote"   "bodyMain"  "botNav";
}
*/
/*
#nav1:hover{
    text-shadow: 0px 4px 12px #2aca0a;
    transition: 0.2s;
}
*/
/*
#hQuote{
    cursor:pointer;
=======
#footTwit{
    cursor: pointer;
>>>>>>> 030f792210b6fc26575bb80ed556b340653a7cf2
}
