/*Fridge for All Style Sheet*/


h1{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 50px;
}
h2{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 40px;
}
h3{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 30px;
}
h4{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 20px;
}
h5{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 18px;
}
pre{
    margin-top: -3%;
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 42px;
    font-weight: bold;
}
p{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 20px;
}

ul{
    list-style: none;
    width: 300px;
}
li{
    color:black;
    font-family: "Outfit","Helvetica","Georgia","Cambira",sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 600px;
    list-style-type: disc;
}

a:link{
    color:black ;
    text-decoration: none;
}
a:visited{
    color:black ;
    text-decoration: none;
}
a:hover{
    color:green ;
    text-decoration: underline;
}
a:active{
    color:black ;
    text-decoration: none;
}

*{
    box-sizing: border-box;
}/* ^^W3 says helps layout: includes padding and borders in element sizes for gridding*/

/*The Header: logo, title, and navigation_______________*/
header{
    background-color: #FAD5AB;
    height: 12vh;

    display: grid;
    grid-template-columns:  8vw         25vw        33vw;
    grid-template-areas:    "headerLogo headerTitle headerGap";
}
#headerLogo{
    padding-top: 5%;
    margin-left: auto;
    width: 70px;

    display: grid;
    grid-area: headerLogo;
}
#headerTitle{
    padding-top: 1%;
    margin-left: 5%;
    display: grid;
    grid-area: headerTitle;
}
#headerNav{
    border-style: dotted;
}
#headerNav a{
    float: left;
    padding: 10px;
}

#heroBanner{
    background-image:url("../images/Header.png");
    background-size: cover;
    height: 35vh;
    width: 100%;
    text-align: center;
    padding-top: 3%;
}
/*#heroWelcomeNeighbor{

}
#heroTakeLeave{

}/*

/*Who We Are    underneath the hero banner_____________________*/
#whoWeAre{
    padding-bottom: 5%;
    /*display: grid;
    grid-template-areas:    "whoTitle   whoTitle"
                            "whoLeft    WhoRight";*/
}
#who{
    text-align: center;
    margin-top: 5%;
    width: 100%;
}
.sectionTitle{
    text-align: center;
    padding-top: 3%;
    /*display:grid;
    grid-area: whoTitle;*/
    
}
#whoLeft{
    text-align: left;
    padding-left: 25%;
    width: 50%;
}
#whoRight{
    scale: -10%;
    float: right;
    margin-top: -470px;
    padding-right: 25%;
    margin-left: 75vw;
    width: 45%;
    /*grid-area: whoRight;*/

    display: grid;
    grid-template-areas:    "whoCard1 whoCard2"
                            "whoCard3 whoCard4";
}
#button{
    /**/
}

.CTA{/*button styling*/
    border-style: solid;
    background-color: #FAD5AB;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;

    margin-left: 7vw;
    margin-top: 18%;
    padding-top: 5px;
}

/*Tile/Card Styling_____________________________________________*/
.tileStat{
    text-align: center;
    display: flex;
}

.tilePic{
    width: 210px;
    padding: 10px;
}

.statText{
    margin-top: -20%;
}

#whoCard1{
    display: grid;
    grid-area: whoCard1;
}
#whoCard2{
    display: grid;
    grid-area: whoCard2;
}
#whoCard3{
    display: grid;
    grid-area: whoCard3;
}
#whoCard4{
    display: grid;
    grid-area: whoCard4;
}

#help{
    margin-top: 8%;
    text-align: left;
    padding-left: 25%;
    width: 50%;
}

#basket{
    margin-top: -80%;
    margin-left: 33.5vw;
    width: 45%;
}
/*Map styling_____________________________________________________*/
#map{
    margin-top: 5%;
    padding-left: 18%;
    padding-bottom: 5%;
    padding-right: 20px;
}

.allMapPins{
    position: absolute;
}
#mapPin1{
    margin-left: -480px;
    margin-top: 50px;
}
#mapPin2{
    margin-left: -300px;
    margin-top: 0px;
}
#mapPin3{
    margin-left: -400px;
    margin-top: 120px;
}
#mapPin4{
    margin-left: -350px;
    margin-top: 220px;
}
#mapPin5{
    margin-left: -250px;
    margin-top: 170px;
}

#location{
    float: left;
    text-align: left;
    margin-left: 700px;
    margin-top: -325px;
    width: 30%;
}

#button2{
    padding-top: 15px;
}

#CTA2{/*button styling*/
    border-style: solid;
    background-color: #FAD5AB;
    height: 40px;
    width: 150px;
    margin-left: 7vw;
    border-radius: 10px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}

#CTA2{
    margin-top: 4%;
    cursor: pointer;
}

/*page 2 new declrations
didn't move others around, so that you could find them still,
in case you're familiar with their order on this page.*/
#whatStock{
    /**/
}
#whatTitle{
    text-align: center;
}
#whatLeft p{
    width: 75%;
    margin-left: 20%;
    padding-right: 30px;
}
#whatBelow{
    scale: -10%;
    float: left;
    margin-left: 19%;
    width: 30%;
    /*grid-area: whoRight;*/

    display: grid;
    grid-template-areas:    "whatCard1 whatCard2"
                            "whatCard3 whatCard4";
}

#right{
    border-style: dotted;
}

#restock{
    text-align: center;
}

#input1{
    text-align: left;
    margin-left: 47vw;
    width: 30%;
}

.dropdown{
    /**/
}

#whatCard1{
    /**/
}
#whatCard2{
    /**/
}
#whatCard3{
    /**/
}
#whatCard4{
    /**/
}

#hereToHelp{
    padding-top: 1%;
}

#mapFridge{
    margin-top: 5%;
    padding-bottom: 5%;
    padding-right: 20px;
}

.hereHelp{
    text-align: center;
    padding-bottom: 3%;
    margin: auto;
}

#hereText{
    text-align: left;
    margin: auto;
    width: 45%;
}

#mapContent {
    margin-left: 18%;
    margin-top: 3%;
    padding-right: 20px;
    max-width: fit-content;
}

#findFridge{
    float: left;
    text-align: left;
    margin-left: 1000px;
    margin-top: -360px;
}


#addresses{
    width: 5vw;
}







footer{
    background-color: #FAD5AB;
    text-align: center;
    height: 30vh;
}
#footLogo{
    padding: 30px;
}

#footAddress{
    text-align: left;
    position: absolute;
    margin-left: 15%;
}

#footSocial{
    float: right;
    margin-right: 15vw;
    margin-top: -11.5%;
}

#footFace{
    padding-right: 30px;
    cursor: pointer;
}

#footIn{
    padding-right: 30px;
    cursor: pointer;
}

#footTwit{
    cursor: pointer;
}
